@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #06332b;
  --secundary-color: #67bb5e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

button {
  font-size: 18px;
  font-weight: bold;
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 9px;
  background: rgb(197, 249, 191);
  background: linear-gradient(90deg, #88bb5e, #7bf01b);
  box-shadow: #7bf01b;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 0px 0px 27px -13px rgba(123,240,27,1);
}

button:hover {
  box-shadow: 7px 5px 56px -14px #06332b;
  background: rgb(103, 187, 94);
  background: linear-gradient(90deg, #7bf01b, #88bb5e);
  transform: 99ms;
}

button:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #06332b;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: var(--primary-color);
}

nav img {
  width: 80px;
}

nav ul {
  display: flex;
  gap: 50px;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bolder;
}

.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}

.home {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: start;
  padding: 100px;
}

.home h1 {
  width: 50%;
  font-size: 49.29px;
  color: white;
  margin-bottom: 30px;
  font-weight: normal;
}

strong {
  color: var(--secundary-color);
  background: linear-gradient(
    45deg,
    #88bb5e,
    #7bf01b
  ); /* Gradiente de cor desejado */
  -webkit-background-clip: text; /* Necessário para aplicar o fundo ao texto no Webkit (Chrome, Safari) */
  -webkit-text-fill-color: transparent; /* Torna o texto transparente para que o gradiente apareça */
  background-clip: text; /* Também necessário para alguns navegadores */
}

.aboutus {
  background-color: #000000;
  color: whitesmoke;

  padding: 100px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.aboutus h2 {
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 20px;
}

.aboutus span {
  font-weight: bold;
}
.aboutus-text {
  width: 50%;
  text-align: center;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 30vh;
  background-color: #000000;
  color: whitesmoke;
  gap: 50px;
}

.packages {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.packages h1 {
  margin-bottom: 30px;
}

.packs {
  display: flex;
  gap: 50px;
}

/* From Uiverse.io by Yaya12085 */
.plan {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
  padding: 10px;
  background-color: #fff;
  color: #697e91;
  max-width: 300px;
}

.plan strong {
  font-weight: 600;
  color: #425275;
}

.plan .inner {
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  background-color: #ecf0ff;
  border-radius: 12px;
  position: relative;
}

.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1.25rem;
  font-weight: 600;
  color: whitesmoke;
}

.plan .pricing small {
  color: whitesmoke;
  font-size: 0.75em;
  margin-left: 0.25em;
}

.plan .title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #425675;
}

.plan .title + * {
  margin-top: 0.75rem;
}

.plan .info + * {
  margin-top: 1rem;
}

.plan .features {
  display: flex;
  flex-direction: column;
}

.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plan .features li + * {
  margin-top: 0.75rem;
}

.plan .features .icon {
  background-color: var(--secundary-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.plan .features .icon svg {
  width: 14px;
  height: 14px;
}

.plan .features + * {
  margin-top: 1.25rem;
}

.plan .action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan button {
  width: 100%;
}

li {
  list-style: circle;
}
